.App {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.board-row {
  display: flex;
}

.board-cell {
  width: 33.33%;
  padding: 20px;
  border: 1px solid #fff;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
}

.current-player {
  visibility: hidden;
  color: #7a808b;
}

.board-cell:hover .current-player {
  visibility: visible;
}

.board-cell:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
